//content section

$time-posts: 5;
$time-height: 100px;

.post-content {
  margin-bottom: 30px;
}

@mixin time-align () {
  @for $i from 1 through $time-posts {
    .time-#{$i} {
      @if $i % 2 == 0 {
        float:right;
        margin-top: $time-height;
      } @else {
        float:left;
        margin-top: $time-height;
      }
    }
  }
}

@mixin box-radius ($rad) {
  border-radius: $rad;
}

.skills-section {
  display:block;
  position: relative;
  width: 100%;
  & > :nth-child(3n+2) {
    margin-left: 1.1%;
  }
  & > :nth-child(3n+3) {
    width: 96% !important;
  }
  .field-div {
    display: inline-block;
    overflow: hidden;
    min-height: 185px;
    width: 45%;
    background: fade-out(black, 0.35);
    padding: 2%;
    margin-top: 1.7%;
    @include box-radius(5px);
    h2 {
      color: $second-color;
    }
    p {
      color: white;
      a {
        padding: 21px;
        display: block;
        height: 30%;
        width: 70%;
        margin: 0 auto;
        margin-top: 45px;
        text-align: center;
        font-size: $base-font-size * 1.5;
        background-color: $fourth-color;
        color: $primary-color;
        @include box-radius (25px);
        &:hover {
          background-color: $fifth-color;
          color: $primary-color;
        }
      }
    }
    @include media-query($on-laptop) {
      width: 96%;
      &:nth-child(3n+2) {
        margin-left: 0%;
      }
    }
    h2 {
      margin-bottom: 4px;
    }
    ul {
      margin-left: 15px;
      li {
        list-style-type: none;
        font-size: $second-font-size;
        color: white;
        &:before {
          content: "> ";
        }
      }
    }
  }
}

.timeline {
  display: inline-block;
  position: relative;
  width: 100%;
  background: fade-out(black, 0.35);
  margin-top: 1.7%;
  padding-bottom: 20px;
  h1 {
    padding-left: 15px;
    color: $second-color;
  }
  div {
    display: inline-block;
    overflow: hidden;
    height: $time-height;
    width: 45%;
    margin-left: 0px;
    background: $fifth-color;
    margin: 10px;
    @include box-radius(10px);
    padding: 7px;
    p {
      font-size: $base-font-size !important;
      color: $primary-color !important;
    }
    h2 {
      color: $second-color !important;
    }
  }
  @include media-query($on-laptop) {
    div {
      min-width: 94%;
      margin-top: $time-height / 4 !important;
      float: none !important;
    }
  }
  @include media-query($on-palm) {
    div {
      min-width: 90%;
    }
  }

  @include time-align();
  @include box-radius(5px);
}