@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

// Define defaults for each variable.

$base-font-family: "Permanent Marker", Helvetica, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$second-font-family: "Roboto Slab", Arial, sans-serif !default;
$second-font-size:   13px !default;
$second-font-weight: 100 !default;
$second-line-height: 17px !default;

$primary-color: #340040;
$second-color: #F2055C;
$third-color: #07F2F2;
$fourth-color: #05F26C;
$fifth-color: #F5C055;//#EAF205;

$spacing-unit:     30px !default;

$text-color:       white !default; //#111 !default;
$background-color: $primary-color !default; //#fdfdfd !default;
$brand-color:      white !default; //#2a7ae2 !default;

$grey-color:       $second-color !default; //#828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$site-fade: 0.40;

// Width of the content area
$content-width:    800px !default;

$on-palm:          625px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/home",
  "minima/syntax-highlighting",
  "minima/pages/homepage",
  "minima/pages/skills"
;
