#hi-nice-to-meet-you-whats-up-dis-me- {
  display: block;
  @include media-query($on-palm) {
    display: none;
  }
}

#hi-nice-to-meet-you-whats-up {
  display: none;
  font-size: 18px;
  @include media-query($on-palm) {
    display: block;
  }
}